.page-menu {
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.page-menu .title {
    text-align: center;
}

.page-menu .kumpulan-menu .card-deck {
    margin: 2vh 0;
}

.kumpulan-menu .card .card-title {
    color: black;
}

.kumpulan-menu .card-deck h6 {
    color: red;
}